<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>{{ title }} | Wrangler</title>
    <link rel="stylesheet" href="/css/global.css">
    {% for file in stylelist %}
    <link rel="stylesheet" href="/css/{{ file }}">
    {% endfor %}
    <link rel="icon" type="image/x-icon" href="{{ favicon }}">
  </head>

  <body>
    {% block content %}{% endblock %}

    {% if footer|length %}
      {{ footer }}
    {% else %}
      {% include "./partials/footer.html" %}
    {% endif %}
  </body>
</html>
