<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>{{ title }} | Wrangler Docs</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/docs.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
  </head>

  <body>
    {% include "./partials/docsmenu.html" %}

    <main>
      <p><a href="/">Home</a> > <a href="/docs/">Docs</a> > <a href="">{{ title }}</a></p>
      {% block content %}{% endblock %}

      <footer>
      {% block footer %}{% endblock %}
      </footer>
    </main>

    <nav id="pagemenu" style="display: none"><ul>
    {% block pagemenu %}{% endblock %}
    </ul></nav>

    <script src="/js/docs.js"></script>
  </body>
</html>
