{% extends "base.html" %}
{% set title = "Shop" %}
{% set stylelist = ["shop.css"] %}
{% set favicon = "/favicon.png" %}

{% block content %}
<header>
  <details open>
    <summary>Wrangler Shop</summary>
    <span>Image</span>
    <h1><a href="/"><img src="/img/shop.png" alt="Shop"></a></h1>
    <div id="countries">
      <label><input type="radio" name="country" value="USA" checked>USA</label>
      <label><input type="radio" name="country" value="CA">CA</label>
      <label><input type="radio" name="country" value="EU">EU</label>
      <label><input type="radio" name="country" value="IN">IN</label>
      <label><input type="radio" name="country" value="INT">International</label>
    </div>
    <!-- <a>Shop is temporarily closed!</a> -->
    <a href="https://auth.hackclub.com/oauth/authorize?client_id=21c885509412e982827ce79b44cb1904&redirect_uri=https%3A%2F%2Fwrangler.hackclub.com%2Fshop%2F&response_type=code&scope=openid+email+verification_status">Log in with Hack Club</a>
    <!-- <a href="https://auth.hackclub.com/oauth/authorize?client_id=21c885509412e982827ce79b44cb1904&redirect_uri=https%3A%2F%2Fwrangler-git-shop-test-branch.hackclub.dev%2Fshop%2F&response_type=code&scope=openid+email+verification_status">Log in with Hack Club</a> -->
    <!-- <a href="https://auth.hackclub.com/oauth/authorize?client_id=21c885509412e982827ce79b44cb1904&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fshop%2F&response_type=code&scope=openid+email+verification_status">Log in with Hack Club</a> -->
  </details>
  <div id="stats">
    <details open>
      <summary>Hour stats</summary>
      <div>
        <p>Hours accepted: <span id="stats-acc">..</span></p>
        <p>Hours pending: <span id="stats-pend">..</span></p>
        <p>Bonus hours: <span id="stats-add">..</span></p>
      </div>
    </details>
    <details open>
      <summary>Hour stats</summary>
      <div>
        <p>Currency hours: <span id="stats-total">..</span></p>
        <p>Hours spent: <span id="stats-spent">..</span></p>
      </div>
    </details>
  </div>
</header>

<main>
  {% for section, shoplist in shopitems  %}
  <section>
    <h2>{{ section }}</h2>
    {% for shopitem in shoplist %}
    <details open onclick="return false;">
      <summary>{{ shopitem[0]}}</summary>
      <figure>
        <img src="{{ shopitem[2] }}" alt="{{ shopitem[3] }}">
        <figcaption>
          <p>{{ shopitem[1] }}</p>
          {% set regions = ["USA", "CA", "EU", "IN", "INT"] %}
          {% for i in range(0, 4) %}
          <button class="{{ regions[i] }} shopbutton" type="button" data-item-price="{{ shopitem[5][i] }}" data-item-category="{{ section }}" data-item-id="{{ loop.index0 }}">{{ shopitem[5][i] }} hour{% if shopitem[5][i] != 1 %}s{% endif %}</button>
          {% endfor %}
        </figcaption>
      </figure>
    </details>
    {% endfor %}
  </section>
  {% endfor %}
</main>

<div id="confirm-popup">
  <details open onclick="return false;">
    <summary>
      <p id="popup-0">loading...</p>
      <button type="button">X</button>
    </summary>
    <figure>
      <img src="/img/shop/kurutoga.png" id="popup-23" alt="Shop image">
      <figcaption>
        <p id="popup-1">loading...</p>
        <table><tbody>
          <tr>
            <td id="popup_hours">50 hours</td>
            <td>Your balance</td>
          </tr>
          <tr>
            <td id="popup-5">- 10 hours</td>
            <td>Price</td>
          </tr>
          <tr>
            <td id="popup_remaining">40 hours</td>
            <td>Remaining</td>
          </tr>
        </tbody></table>
        <select id="popup-4"></select>
        <input id="submit" type="submit" value="Purchase for X hours">
      </figcaption>
    </figure>
  </details>
</div>

<script>
  const shopitems = {{ shopitems | dump | safe }}
</script>
<script src="https://cdn.jsdelivr.net/npm/@hiseb/confetti@2.2.0/dist/confetti.min.js"></script>
<script type="module" src="/js/shop.js"></script>
{% endblock %}
