{% extends "base.html" %}
{% set title = "Shop" %}
{% set stylelist = ["shop.css"] %}
{% set favicon = "/favicon.png" %}

{% block content %}
<header>
  <details open>
    <summary>Wrangler Shop</summary>
    <span>Image</span>
    <h1><a href="/"><img src="/img/shop.png" alt="Shop"></a></h1>
    <a href="https://auth.hackclub.com/oauth/authorize?client_id=21c885509412e982827ce79b44cb1904&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fshop%2F&response_type=code&scope=email+name+verification_status">Log in with Hack Club</a>
  </details>
  <div id="stats">
    <details open>
      <summary>Hour stats</summary>
      <div>
        <p>Hours accepted: <span></span></p>
        <p>Hours pending: <span></span></p>
        <p>Bonus hours: <span></span></p>
      </div>
    </details>
    <details open>
      <summary>Hour stats</summary>
      <div>
        <p>Currency hours: <span></span></p>
        <p>Hours spent: <span></span></p>
      </div>
    </details>
  </div>
</header>

<main>
  {% for section, shoplist in shopitems  %}
  <section>
    <h2>{{ section }}</h2>
    {% for shopitem in shoplist %}
    <details open>
      <summary>{{ shopitem[0]}}</summary>
      <figure>
        <img src="{{ shopitem[2] }}" alt="{{ shopitem[3] }}">
        <figcaption>
          <p>{{ shopitem[1] }}</p>
          <button type="button">{{ shopitem[5] }} hour{% if shopitem[5] != 1 %}s{% endif %}</button>
        </figcaption>
      </figure>
    </details>
    {% endfor %}
  </section>
  {% endfor %}
</main>
<script src="/js/shop.js"></script>
{% endblock %}
