<footer>
  <p>Wrangler is run by <a href="https://hackclub.com">Hack Club</a> and a tinkering artist called <a href="https://sundial.city">Nick</a>.</p>
  <p><a href="https://hackclub.com">Hack Club</a> -- <a href="https://slack.hackclub.com">Slack</a> -- <a href="https://hackclub.com/clubs">Clubs</a> -- <a href="https://hackathons.hackclub.com">Hackathons</a></p>
  <p><a href="https://hackclub.com/privacy-and-terms">Privacy Policy/Terms of Service</a> -- <a href="https://forms.hackclub.com/bounty">Fulfillment Bounty</a></p>
</footer>
